force-app/main/default/flows/Time_Rule_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Comment</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Desk_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <elementReference>BodyForControl4DriverV120</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment1</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Log_an_Email_Activity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <elementReference>FirstReminderMailComment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment10</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>update_field6</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <stringValue>Re-opening 4 day pending case</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment11</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>update_field7</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <stringValue>Re-opening 5 day pending case</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment12</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>update_field8</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <stringValue>Re-opening 7 day pending case</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment13</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>update_field9</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <stringValue>Re-opening 8 day pending case</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment14</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>update_field10</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <stringValue>Re-opening 9 day pending case</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment15</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>update_field11</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <stringValue>Re-opening 10 day pending case</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment16</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>update_field13</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <stringValue>Opening 30 Days pending RMA case</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment2</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Log_an_Email_Activity1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <elementReference>SecondReminderEmailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment3</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Log_an_Email_Activity2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <stringValue>&apos;Third &amp; final pending reminder mail sent to customer&apos; + [Case].Contact.FirstName + &apos;.&apos;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment4</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>update_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <stringValue>Case open reminder mail sent to Shiraz</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment5</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>update_field1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <stringValue>Case open reminder mail sent to Shiraz</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment6</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>update_field2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <stringValue>Re-opening 1 day pending case</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment7</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>update_field3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <stringValue>Re-opening engineering pending case</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment8</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>update_field4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <stringValue>Re-opening 2 day pending case</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Comment9</name>
        <label>Add Comment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Case_Comment</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>update_field5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CommentBody</name>
            <value>
                <stringValue>Re-opening 3 day pending case</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Case.Case_Comment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>X7_Days_Pending_Case</name>
        <label>7 Days Pending Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.Re_open_7_Days_Pending_Case</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Re_open_7_Days_Pending_Case</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Auto_Case_Close_Decision</name>
        <label>Auto Case Close Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_Auto_Case_Close</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CSCM_pending</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_the_case</targetReference>
            </connector>
            <label>TRUE Auto Case Close</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Open_Reminder_For_customer</name>
        <label>Case Open Reminder For customer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Case_Open_Reminder_For_customer</name>
            <conditionLogic>1 AND 2 AND NOT(3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Case_Open_Reminder_Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RMA_Initiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Internal_Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CSCM-Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment4</targetReference>
            </connector>
            <label>TRUE Case Open Reminder For customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Open_Reminder_For_internal_pending_Decision</name>
        <label>Case Open Reminder For Internal Pending Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Case_Open_Reminder_For_Internal_Pending</name>
            <conditionLogic>1 AND 2 AND NOT(3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Case_Open_Reminder_Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RMA_Initiated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Internal_Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CSCM-Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment5</targetReference>
            </connector>
            <label>TRUE Case Open Reminder For Internal Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Control4_Driver_v120</name>
        <label>Control4 Driver v120</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>IF FALSE</defaultConnectorLabel>
        <rules>
            <name>IF_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Control4 Driver v120</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IF TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Re_open_10_Day_Pending_Case_Decision</name>
        <label>Re-open 10 Day Pending Case Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Re_open_10_Day_Pending_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>10 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment15</targetReference>
            </connector>
            <label>TRUE Re-open 10 Day Pending Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Re_open_1_Day_Pending_Case_Decision</name>
        <label>Re-open 1 Day Pending Case Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Re_open_1_Day_Pending_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>1 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment6</targetReference>
            </connector>
            <label>TRUE Re-open 1 Day Pending Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Re_open_2_Day_Pending_Case_Decision</name>
        <label>Re-open 2 Day Pending Case Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Re_open_2_Day_Pending_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>2 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment8</targetReference>
            </connector>
            <label>TRUE Re-open 2 Day Pending Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Re_open_3_Day_Pending_Case_Decision</name>
        <label>Re-open 3 Day Pending Case Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Re_open_3_Day_Pending_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>3 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment9</targetReference>
            </connector>
            <label>TRUE Re-open 3 Day Pending Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Re_open_4_Day_Pending_Case_Decision</name>
        <label>Re-open 4 Day Pending Case Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Re_open_4_Day_Pending_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>4 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment10</targetReference>
            </connector>
            <label>TRUE Re-open 4 Day Pending Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Re_open_5_Day_Pending_Case_Decision</name>
        <label>Re-open 5 Day Pending Case Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Re_open_5_Day_Pending_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>5 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment11</targetReference>
            </connector>
            <label>TRUE Re-open 5 Day Pending Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Re_open_7_Day_Pending_Case_Decision</name>
        <label>Re-open 7 Day Pending Case Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Re_open_7_Day_Pending_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>7 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment12</targetReference>
            </connector>
            <label>TRUE Re-open 7 Day Pending Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Re_open_8_Day_Pending_Case_Decision</name>
        <label>Re-open 8 Day Pending Case Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Re_open_8_Day_Pending_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>8 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment13</targetReference>
            </connector>
            <label>TRUE Re-open 8 Day Pending Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Re_open_9_Day_Pending_Case_Decision</name>
        <label>Re-open 9 Day Pending Case Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Re_open_9_Day_Pending_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>9 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment14</targetReference>
            </connector>
            <label>TRUE Re-open 9 Day Pending Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Re_open_Engineering_Pending_Case_Decision</name>
        <label>Re-open Engineering Pending Case Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Re_open_Engineering_Pending_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Engineering Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment7</targetReference>
            </connector>
            <label>TRUE Re-open Engineering Pending Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reminder_Email_1_Decision</name>
        <label>Reminder Email 1 Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUEReminderEmail1</name>
            <conditionLogic>1 AND 2 AND  NOT(3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RMA_Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>1 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>2 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>3 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>4 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>5 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>6 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>7 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>8 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>9 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>10 Day Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>License_Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Internal_Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Engineering Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Transguard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment1</targetReference>
            </connector>
            <label>TRUE Reminder Email 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reminder_Email_2_Decision</name>
        <label>Reminder Email 2 Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Reminder_Email_2</name>
            <conditionLogic>1 AND NOT(2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RMA_Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>License_Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Engineering Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Transguard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment2</targetReference>
            </connector>
            <label>TRUE Reminder Email 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reminder_Email_Final_Decision</name>
        <label>Reminder Email Final Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Reminder_Email_Final</name>
            <conditionLogic>1 AND NOT(2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RMA_Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Internal_Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Engineering Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Transguard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment3</targetReference>
            </connector>
            <label>TRUE Reminder Email Final</label>
        </rules>
    </decisions>
    <decisions>
        <name>RMA_pending_Case_Decision</name>
        <label>RMA pending Case Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_RMA_pending_Case</name>
            <conditionLogic>1 AND NOT(2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RMA_Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>RMA_Initiated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_field12</targetReference>
            </connector>
            <label>TRUE RMA pending Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>X30_day_RMA</name>
        <label>30 day RMA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_30_Day_RMA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.labels__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>30 Days RMA Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Comment16</targetReference>
            </connector>
            <label>TRUE 30 Day RMA</label>
        </rules>
    </decisions>
    <description>Migrated from the Time Rule process using multiple criteria.
Time rules available in desk.com</description>
    <environments>Default</environments>
    <formulas>
        <name>AssignedLabel</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS({!$Record.labels__c}, &quot;Control4 Driver v120&quot;), SUBSTITUTE({!$Record.labels__c}, &quot;Control4 Driver v120&quot;, &quot;&quot;),{!$Record.labels__c})</expression>
    </formulas>
    <formulas>
        <name>AssingingLabelToReopenedCase1</name>
        <dataType>String</dataType>
        <expression>TRIM(
    SUBSTITUTE(
        SUBSTITUTE({!$Record.labels__c}, &quot;1 Day Pending,&quot;, &quot;&quot;),
        &quot;,  &quot;, &quot;, &quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>AssingingLabelToReopenedCase10</name>
        <dataType>String</dataType>
        <expression>TRIM(
    SUBSTITUTE(
        SUBSTITUTE({!$Record.labels__c}, &quot;10 Day Pending,&quot;, &quot;&quot;),
        &quot;,  &quot;, &quot;, &quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>AssingingLabelToReopenedCase2</name>
        <dataType>String</dataType>
        <expression>TRIM(
    SUBSTITUTE(
        SUBSTITUTE({!$Record.labels__c}, &quot;2 Day Pending,&quot;, &quot;&quot;),
        &quot;,  &quot;, &quot;, &quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>AssingingLabelToReopenedCase3</name>
        <dataType>String</dataType>
        <expression>TRIM(
    SUBSTITUTE(
        SUBSTITUTE({!$Record.labels__c}, &quot;3 Day Pending,&quot;, &quot;&quot;),
        &quot;,  &quot;, &quot;, &quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>AssingingLabelToReopenedCase4</name>
        <dataType>String</dataType>
        <expression>TRIM(
    SUBSTITUTE(
        SUBSTITUTE({!$Record.labels__c}, &quot;4 Day Pending,&quot;, &quot;&quot;),
        &quot;,  &quot;, &quot;, &quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>AssingingLabelToReopenedCase5</name>
        <dataType>String</dataType>
        <expression>TRIM(
    SUBSTITUTE(
        SUBSTITUTE({!$Record.labels__c}, &quot;5 Day Pending,&quot;, &quot;&quot;),
        &quot;,  &quot;, &quot;, &quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>AssingingLabelToReopenedCase7</name>
        <dataType>String</dataType>
        <expression>TRIM(
    SUBSTITUTE(
        SUBSTITUTE({!$Record.labels__c}, &quot;7 Day Pending,&quot;, &quot;&quot;),
        &quot;,  &quot;, &quot;, &quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>AssingingLabelToReopenedCase8</name>
        <dataType>String</dataType>
        <expression>TRIM(
    SUBSTITUTE(
        SUBSTITUTE({!$Record.labels__c}, &quot;8 Day Pending,&quot;, &quot;&quot;),
        &quot;,  &quot;, &quot;, &quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>AssingingLabelToReopenedCase9</name>
        <dataType>String</dataType>
        <expression>TRIM(
    SUBSTITUTE(
        SUBSTITUTE({!$Record.labels__c}, &quot;9 Day Pending,&quot;, &quot;&quot;),
        &quot;,  &quot;, &quot;, &quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>formula_1_myRule_26_A1_4019249256</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS( {!$Record.labels__c},&quot;3 Days Pending&quot;),SUBSTITUTE({!$Record.labels__c},&quot;3 Days Pending&quot;, &quot;&quot; ),{!$Record.labels__c})</expression>
    </formulas>
    <formulas>
        <name>formula_2_myRule_48_A1_5465127965</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS( {!$Record.labels__c},&quot;Control4 Driver v120&quot;),SUBSTITUTE({!$Record.labels__c},&quot;Control4 Driver v120&quot;, &quot;&quot; ),{!$Record.labels__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaFor30DayRMAPending</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS( {!$Record.labels__c},&quot;30 Days RMA Pending&quot;),SUBSTITUTE({!$Record.labels__c},&quot;30 Days RMA Pending&quot;, &quot;&quot; ),{!$Record.labels__c})</expression>
    </formulas>
    <formulas>
        <name>FormulaForRMAPendingCase</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS( {!$Record.labels__c},&quot;Pending_Reminder_1&quot;),SUBSTITUTE({!$Record.labels__c},&quot;Pending_Reminder_1&quot;, &quot;&quot; ),
				IF(CONTAINS( {!$Record.labels__c},&quot;Pending_Reminder_2&quot;),SUBSTITUTE({!$Record.labels__c},&quot;Pending_Reminder_2&quot;, &quot;&quot; ),
					IF(CONTAINS( {!$Record.labels__c},&quot;Pending_Reminder_Final&quot;),SUBSTITUTE({!$Record.labels__c},&quot;Pending_Reminder_Final&quot;, &quot;&quot; )
					,{!$Record.labels__c})))</expression>
    </formulas>
    <label>Time Rule_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_an_Email_Activity</name>
        <label>Log an Email Activity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>EmailMessageFieldValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EmailMessageFieldValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>EmailMessageFieldValues</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_an_Email_Activity1</name>
        <label>Log an Email Activity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <stringValue>Pending Reminder 2 email has been send!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Pending Reminder 2 email has been send!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <stringValue>Pending Reminder 2 email has been send!</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_an_Email_Activity2</name>
        <label>Log an Email Activity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <stringValue>Pending Reminder Final email has been send!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Pending Reminder Final email has been send!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <stringValue>Pending Reminder Final email has been send!</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Closed_the_case</name>
        <label>Closed the case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_field</name>
        <label>update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>labels__c</field>
            <value>
                <elementReference>updatingOnCaseRemindertocustomer</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_field1</name>
        <label>update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>labels__c</field>
            <value>
                <elementReference>updatingOnCaseRemindertocustomer</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_field10</name>
        <label>update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>labels__c</field>
            <value>
                <elementReference>AssingingLabelToReopenedCase9</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_field11</name>
        <label>update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>labels__c</field>
            <value>
                <elementReference>AssingingLabelToReopenedCase10</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_field12</name>
        <label>update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>labels__c</field>
            <value>
                <elementReference>FormulaForRMAPendingCase</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_field13</name>
        <label>update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>labels__c</field>
            <value>
                <elementReference>FormulaFor30DayRMAPending</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_field2</name>
        <label>update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>labels__c</field>
            <value>
                <elementReference>AssingingLabelToReopenedCase1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_field3</name>
        <label>update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_field4</name>
        <label>update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>labels__c</field>
            <value>
                <elementReference>AssingingLabelToReopenedCase2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_field5</name>
        <label>update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>labels__c</field>
            <value>
                <elementReference>AssingingLabelToReopenedCase3</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_field6</name>
        <label>update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>labels__c</field>
            <value>
                <elementReference>AssingingLabelToReopenedCase4</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_field7</name>
        <label>update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>labels__c</field>
            <value>
                <elementReference>AssingingLabelToReopenedCase5</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_field8</name>
        <label>update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X7_Days_Pending_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>labels__c</field>
            <value>
                <elementReference>AssingingLabelToReopenedCase7</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_field9</name>
        <label>update field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>labels__c</field>
            <value>
                <elementReference>AssingingLabelToReopenedCase8</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_record</name>
        <label>Update record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Comment</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>labels__c</field>
            <value>
                <elementReference>AssignedLabel</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Control4_Driver_v120</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Auto_Close_Case</name>
            <connector>
                <targetReference>Auto_Case_Close_Decision</targetReference>
            </connector>
            <label>Auto Close Case</label>
            <offsetNumber>168</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>resolved_at__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Reminder_Mail_1</name>
            <connector>
                <targetReference>Reminder_Email_1_Decision</targetReference>
            </connector>
            <label>Reminder Mail 1</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Reminder_Mail_2</name>
            <connector>
                <targetReference>Reminder_Email_2_Decision</targetReference>
            </connector>
            <label>Reminder Mail 2</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Reminder_Mail_Final</name>
            <connector>
                <targetReference>Reminder_Email_Final_Decision</targetReference>
            </connector>
            <label>Reminder Mail Final</label>
            <offsetNumber>96</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Case_Open_Reminder_for_Customer_Pending</name>
            <connector>
                <targetReference>Case_Open_Reminder_For_customer</targetReference>
            </connector>
            <label>Case Open Reminder for Customer Pending</label>
            <offsetNumber>204</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Case_Open_Reminder_for_Internal_Pending</name>
            <connector>
                <targetReference>Case_Open_Reminder_For_internal_pending_Decision</targetReference>
            </connector>
            <label>Case Open Reminder for Internal Pending</label>
            <offsetNumber>204</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Re_open_1_Day_Pending_Case</name>
            <connector>
                <targetReference>Re_open_1_Day_Pending_Case_Decision</targetReference>
            </connector>
            <label>Re-open 1 Day Pending Case</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Re_open_Engineering_Pending_Case</name>
            <connector>
                <targetReference>Re_open_Engineering_Pending_Case_Decision</targetReference>
            </connector>
            <label>Re-open Engineering Pending Case</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Re_open_2_Days_Pending_Case</name>
            <connector>
                <targetReference>Re_open_2_Day_Pending_Case_Decision</targetReference>
            </connector>
            <label>Re-open 2 Days Pending Case</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Re_open_3_Days_Pending_Case</name>
            <connector>
                <targetReference>Re_open_3_Day_Pending_Case_Decision</targetReference>
            </connector>
            <label>Re-open 3 Days Pending Case</label>
            <offsetNumber>72</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Re_open_4_Days_Pending_Case</name>
            <connector>
                <targetReference>Re_open_4_Day_Pending_Case_Decision</targetReference>
            </connector>
            <label>Re-open 4 Days Pending Case</label>
            <offsetNumber>96</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Re_open_5_Days_Pending_Case</name>
            <connector>
                <targetReference>Re_open_5_Day_Pending_Case_Decision</targetReference>
            </connector>
            <label>Re-open 5 Days Pending Case</label>
            <offsetNumber>120</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Re_open_7_Days_Pending_Case</name>
            <connector>
                <targetReference>Re_open_7_Day_Pending_Case_Decision</targetReference>
            </connector>
            <label>Re-open 7 Days Pending Case</label>
            <offsetNumber>168</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Re_open_8_Days_Pending_Case</name>
            <connector>
                <targetReference>Re_open_8_Day_Pending_Case_Decision</targetReference>
            </connector>
            <label>Re-open 8 Days Pending Case</label>
            <offsetNumber>192</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Re_open_9_Days_Pending_Case</name>
            <connector>
                <targetReference>Re_open_9_Day_Pending_Case_Decision</targetReference>
            </connector>
            <label>Re-open 9 Days Pending Case</label>
            <offsetNumber>216</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Re_open_10_Days_Pending_Case</name>
            <connector>
                <targetReference>Re_open_10_Day_Pending_Case_Decision</targetReference>
            </connector>
            <label>Re-open 10 Days Pending Case</label>
            <offsetNumber>240</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>RMA_Pending_Case</name>
            <connector>
                <targetReference>RMA_pending_Case_Decision</targetReference>
            </connector>
            <label>RMA Pending Case</label>
            <offsetNumber>110</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X30_Days_RMA</name>
            <connector>
                <targetReference>X30_day_RMA</targetReference>
            </connector>
            <label>30 Days RMA</label>
            <offsetNumber>720</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Pending_At__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>BodyForControl4DriverV120</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&apos;Control4 Driver v120 sent to &apos; + {!$Record.Id} + &apos;.&apos;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CSCM_pending</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;CSCM-pending&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMessageFieldValues</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Pending Reminder 1 email has been send!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FirstReminderMailComment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&apos;First pending reminder sent to customer&apos; + &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Contact.FirstName}&lt;/span&gt; + &apos;.&apos;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SecondReminderEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&apos;Second pending reminder sent to customer&apos; + {!$Record.Contact.FirstName}+ &apos;.&apos;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>updatingOnCaseRemindertocustomer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.labels__c} + &apos; ,Case_Open_Reminder_Sent&apos;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
